Package: xyz.skitty.lightsout
Name: LightsOut
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Toggle dark mode/night shift with the light sensor!
Depiction: https://skitty.xyz/repo/depictions/?p=xyz.skitty.lightsout
SileoDepiction: https://skitty.xyz/repo/depictions/?s=xyz.skitty.lightsout
Icon: https://skitty.xyz/repo/icons/xyz.skitty.lightsout.png
Maintainer: Skitty
Author: Skitty
Section: Tweaks
