<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>LightsOut</string>
	<key>subtitle</key>
	<string>By Skitty</string>
	<key>headerColor</key>
	<string>#009e7d</string>
	<key>textColor</key>
	<string>#ffffff</string>
	<key>subtitleTextColor</key>
	<string>#ffffffb2</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>xyz.skitty.lightsout</string>
			<key>PostNotification</key>
			<string>xyz.skitty.lightsout.prefschanged</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Toggle system dark mode or Dune</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>xyz.skitty.lightsout</string>
			<key>PostNotification</key>
			<string>xyz.skitty.lightsout.prefschanged</string>
			<key>key</key>
			<string>useDarkMode</string>
			<key>label</key>
			<string>Dark Mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Toggle Night Shift</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.skitty.lightsout</string>
			<key>PostNotification</key>
			<string>xyz.skitty.lightsout.prefschanged</string>
			<key>key</key>
			<string>useNightShift</string>
			<key>label</key>
			<string>Night Shift</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Manually enabling or disabling dark mode or night shift will pause LightsOut until the next time your device is unlocked or settings are changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>xyz.skitty.lightsout</string>
			<key>PostNotification</key>
			<string>xyz.skitty.lightsout.prefschanged</string>
			<key>key</key>
			<string>manualOverride</string>
			<key>label</key>
			<string>Allow Manual Override</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Upper Light Threshold</string>
			<key>footerText</key>
			<string>When light rises above this level, dark mode will be turned off. 0 = No light, 1000 = Full sunlight. Default is 50.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>50</real>
			<key>defaults</key>
			<string>xyz.skitty.lightsout</string>
			<key>PostNotification</key>
			<string>xyz.skitty.lightsout.prefschanged</string>
			<key>key</key>
			<string>upLuxThreshold</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1000</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Lower Light Threshold</string>
			<key>footerText</key>
			<string>When light falls below this level, dark mode will be turned on. Default is 40.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>40</real>
			<key>defaults</key>
			<string>xyz.skitty.lightsout</string>
			<key>PostNotification</key>
			<string>xyz.skitty.lightsout.prefschanged</string>
			<key>key</key>
			<string>lowLuxThreshold</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1000</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Sensor Interval</string>
			<key>footerText</key>
			<string>How long (seconds) between each sensor check. Default is 3.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>3</real>
			<key>defaults</key>
			<string>xyz.skitty.lightsout</string>
			<key>PostNotification</key>
			<string>xyz.skitty.lightsout.prefschanged</string>
			<key>key</key>
			<string>checkInterval</string>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>60</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
			<key>footerText</key>
			<string>© Skitty 2021</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SPCreditCell</string>
			<key>label</key>
			<string>Skitty</string>
			<key>twitter</key>
			<string>Skittyblock</string>
			<key>subtitle</key>
			<string>Developer</string>
		</dict>
	</array>
	<key>title</key>
	<string>LightsOut</string>
</dict>
</plist>
